<!DOCTYPE html>
<html lang="en">

<head>
       {{>top_links}}
</head>

<body>
    
       {{>header}}
    <!-- main content -->
    <div class="container-fluid main_header">
        <div class="row" style="margin-top: 21px;">
            <div class="col-md-10 col-12 mb-2 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left" style="    margin-bottom: 20px;"  data-aos="flip-right"  data-aos-duration="1500">
                        <p>Welcome to Weather App</p>
                        <h1>Get The Latest <span style="color:#17CAF6;">Weather</span> Info Of Your
                            City</h1><br><br>
                        <a href="/weather"><button class="mybutton">Check
                                Now</button></a>
                    </div>
                    <div class="col-md-6 mb-2 col-12 main_header_right" style="    margin-bottom: 20px;" data-aos="fade-left"  data-aos-duration="2500">
                        <img class="w-100" src="image/bgone.jpg" alt="First
                                slide">


                    </div>
                </div>
            </div>
        </div>
    </div>

     <br><br>
    <!-- foooter -->
     {{>footer}}

     {{>footer_links}}

</body>

</html>