 <div class="container-fluid main_menu" style="    margin-top: auto;">
        <div class="row">
            <div class="col-sm-12">

                <div class="footer">
                    <p style="    margin-bottom: 0;">Copyright by muddasar habib 😎</p>
                </div>

            </div>
        </div>
    </div>